.faq-item {
  background-color: #303030;
  color: white;
  border-bottom: 1px solid #555;
}

.faq-item .accordion-header .accordion-button {
  background-color: #303030;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.faq-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: #303030;
  color: white;
  box-shadow: none; /* remove default shadow on open */
}

.faq-item .accordion-collapse {
  background-color: #303030;
  color: white;
}

.faq-item .accordion-button::after {
  filter: brightness(0) invert(1);
}